
body{
	background-color: black;
}

.hidden{
	display: none;
}

.hover{
  width: 100vw;
  height: 100vw;
  color: black;
  position: absolute;
  top: 0vw;
  left: 0vw;
}  

img.one{
	position: absolute;
  top: 0vw;
  left: -10vw;
	width: 85vw;
  clip: rect(0px,60vw,32vw,0px)
}

img.two{
  position: absolute;
  top: 0vw;
  left: 50vw;
  width: 65vw;
  clip: rect(0vw,50vw,32vw,0px)
}

img.three{
  position: absolute;
  top: 32vw;
  left: -10vw;
  width: 60vw;
  clip: rect(0px,70vw,32vw,0px)
}

img.four{
  position: absolute;
  top: 32vw;
  left: 45vw;
  width: 77vw;
  clip: rect(0px,55vw,32vw,5vw)
}

.center{

  position: absolute;
  left: 15vw;
  width: 70%;
  top: 5vw;
  box-shadow: 5px 5px 500px white;

}

.beforecenter{

  position: absolute;
  left: 5vw;
  width: 90%;
  top: 10vw;
  box-shadow: 5px 5px 500px black;

}

.aftercenter{

  position: absolute;
  left: 15vw;
  width: 70%;
  top: 15vw;
  box-shadow: 0px 0px 25px white;

}

.bigcenter{

  position: absolute;
  left: 15vw;
  width: 70%;
  top: 10vw;
  box-shadow: 0px 0px 25px white;

}


.back:hover {

  opacity: 0.5
}

.test{
  float: left;
  width: 49%;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding-bottom: 1.97vw;

}

.testmargin{
  float: left;
  width: 49%;
  padding-top: 5vw;
  padding-bottom: 5vw;
  border-style: solid;
  border-color: gray;
  border-width: 1px;


}

.testturtle{
  float: left;
  width: 49%;
  padding-top: 5vw;
  padding-bottom: 1.2vw;
  border-style: solid;
  border-color: gray;
  border-width: 1px;

}

.image{
  float: left;
  width: 100%;
}

.fill{
  width: 100%;
}



